.FormChat {
  
}

.MainInput {
  height: 50px;
  max-width: 800px;
  font-size: 23px;
  background-color: aliceblue;
  padding: 0;
}

.FormChat input {
  font-size: 23px;
  height: 50px;
  background-color: aliceblue;
  padding: 0;
}

.FormChat button {
  font-size: 23px;
}

li {
  font-size: 20px;
}

span {
  font-size: 22px;
  font-weight: bolder;
}
